@import url('https://fonts.googleapis.com/css?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan',sans-serif;
}
h1{
  font-size: 50px;
  color: #222;
  line-height: 64px;
}
h2{
  font-size: 46px;
  color: #222;
  line-height: 54px;
}
h4{
  font-size: 20px;
  color: #222;

}
h6{
  font-size: 12px;
  font-weight: 700;
}
p{
  font-size: 16px;
  color: #222;
  margin: 15px 0 20px 0;
}
.section-p1{
  padding: 25px 80px;
}
.section-m1{
  margin: 40px 0;
}
#mobile{
  display: none;
  align-items: center;
}
button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
body{
  width: 100%;
}
#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 80px;
  background-color: turquoise;
  box-shadow: 0 5px 15px gray;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;

}
#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: black;
}
#navbar li a:hover,
#navbar li a.active{
  color: royalblue;
}
#navbar li a.active::after,#navbar li a:hover::after{
  content: "";
  width: 30%;
  height: 2px;
  background-color: royalblue;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
#hero{
  background-image: url("img/prueba.jpg") ;
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0%;
  padding: 0 80px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

}
#hero h4{
  padding-bottom: 15px;
}
#hero h1{
  color: royalblue;
}
#hero button{
   background-color: turquoise;
   color: #222;
   border: 0;
   padding: 14px 80px 14px 65px ;
   font-weight: 700;
   font-size: 15px;
   border-radius: 35px;
}
#feature{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box{
  width: 180px;
  text-align: center;
  padding: 15px 15px;
  box-shadow:  20px 20px 34px rgb(0, 0, 0,0.02);
  border: 1px solid rgb(78, 185, 175);
  border-radius: 4px;
  margin: 15px 0;

}
#feature .fe-box:hover{
  box-shadow: 10px 10px 54px rgb(72, 60, 220,0.18); 
}
#feature .fe-box h6{
  padding-top: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: royalblue;
  background-color: white;

}
#feature .fe-box img{
  width: 100%;
  margin-bottom: 10px;
}

#product1{
   text-align: center;
   
}
#productos{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#productos .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#productos .pro{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid whitesmoke;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgb(0, 0, 0,0.02);
  margin: 15px 0;
  transition: 0.2s ease;
}
#productos .pro:hover{
  box-shadow: 20px 20px 30px rgb(0, 0, 0,0.1);
}
#productos .pro img{
  width: 100%;
  border-radius: 20px;
}
#productos .pro .des{
  text-align: start;
  padding: 10px 0;
}
#productos .pro .des span{
  color: grey;
  font-size: 20px;
}
#productos .pro .des h5{
  padding-top: 7px;
  font-size: 14px;
}
#productos .pro .des i{
  font-size: 12px;
  color: royalblue;
}
#productos .pro .des h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
}
#productos .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: white;
  color: turquoise;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#product1 .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#product1 .pro{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid whitesmoke;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgb(0, 0, 0,0.02);
  margin: 15px 0;
  transition: 0.2s ease;
}
#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgb(0, 0, 0,0.1);
}
#product1 .pro img{
  width: 100%;
  border-radius: 20px;
}
#product1 .pro .des{
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .des span{
  color: grey;
  font-size: 20px;
}
#product1 .pro .des h5{
  padding-top: 7px;
  font-size: 14px;
}
#product1 .pro .des i{
  font-size: 12px;
  color: royalblue;
}
#product1 .pro .des h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
}
#product1 .pro .cart{
  width: 40p;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: white;
  color: turquoise;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
#banner{
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  text-align: center;
  background-image: url(img/banner4.jpg);
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
}
#banner h4{
    font-size: 16px;
    margin-top: 20px;
}
#banner h2{
  font-size: 30px;
  padding: 10px 0;
}
#banner h2 span{
  color: red;
  font-size: 35px;
}

#banner button:hover{
  background: turquoise;
  color: black;
}
#sm-banner{
  display: flex;
  justify-content:  space-around;
  flex-wrap: nowrap;
}

#sm-banner .banner-box{
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: flex-start;
  text-align: center;
  background-image: url(img/lentes_banner.jpg);
  min-width: 580px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
  margin: 0px 15px;
}
#sm-banner .banner-tienda{
  background-image: url(img/tienda.jpg);
}
#sm-banner h4{
  color:white;
  font-size: 20px;
  font-weight: 300;
}
#sm-banner h2{
  color:white;
  font-size: 20px;
  font-weight: 800;
}
#sm-banner span{
  color:white;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

button.white{
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid white;
  outline: none;
  transition: 0.2s;
}
#sm-banner .banner-box:hover button{
  background: turquoise;
  border: 1px solid turquoise
}
#newsletter{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
  align-items: center;
  background-color: turquoise;
  background-repeat: no-repeat;
  background-position: 20% 30%;
}
#newsletter .form{
  display: flex;
  width: 40%;
}

#newsletter h4{
  font-size: 22px;
  font-weight: 700;
  color: black;
}
#newsletter p{
  font-size: 14px;
  font-weight: 600;
  color: black;
}
#newsletter p span{
  font-size: 18px;
  font-weight:800;
  color: black;
  
}
#newsletter input{
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button{
  background-color: black;
  color: white;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer col{ 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 20px;
}
footer .logo{
  margin-bottom: 30px;
}
footer h4{
  font-size: 14px;
  padding-bottom: 20px;
}
footer p{
  font-size: 13px;
  margin: 0 0 8px 0;
}
footer .follow{
  margin-top: 15px;
}
footer .follow i{
  color: #222;
  margin-bottom: 25px;
  padding-right: 8px;
  font-size: 20px;
  cursor: pointer;
}
#tienda{
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  flex-wrap: wrap;
}
#tienda .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#tienda .cont{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid rgb(245, 245, 245);
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgb(0, 0, 0,0.02);
  margin: 15px 0;
  transition: 0.2s ease;
}
#tienda .cont:hover{
  box-shadow: 20px 20px 30px rgb(0, 0, 0,0.2);
}
#tienda .cont img{
  width: 100%;
  border-radius: 20px;
}
#tienda .pro .cont .des{
  text-align: start;
  padding: 10px 0;
}
#tienda .cont .des span{
  color: grey;
  font-size: 20px;
}
#tienda .cont .des h5{
  padding-top: 7px;
  font-size: 14px;
}
#tienda .cont .des i{
  font-size: 12px;
  color: royalblue;
}
#tienda .cont .des h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
}
#tienda .cont .cart{
  width: 40p;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: white;
  color: turquoise;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
#tienda-box .tienda-div{ 
  text-align: center; 
  padding-top: 10px;
  padding-bottom: 10px; 
}
.wrapper__sidebar-cart-total{
  padding: 20px 10px;
  text-align: center;
}
.wrapper__sidebar-cart-total span{
  font-size: 46px;
  padding-top: 40px;
  color: #222;
  line-height: 22px;
}
#tienda .pro .cont .des{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
button.normal-tienda{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.966);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
  align-items: center;
}
.wrapper__sidebar-cart-btn{
  text-align: center;
}



@media (max-width:799px) {
  .section-p1{
    padding: 40px 40px;
  }
  #navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: turquoise;
    box-shadow: 0 40px 60px rgb(0, 0, 0,0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }
  #navbar.active{
    right: 0px;
  }
  #navbar li{
    margin-bottom: 35px;
  }
  #mobile{
    display: flex;
    align-items: center;
  }
  #mobile i{
    color: black;
    font-size: 24px;
    padding-left: 20px;
  }
  #close{
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }
  #lg-bag{
    display: none;
  }
  #hero{
    height: 99vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }
  #feature{
    justify-content: center;
  }
  #feature .fe-box{
    margin: 15px 15px;
  }
  #product1 .pro-container{
    justify-content: center;
  }
  #product1 .pro{
    margin: 15px;
  }
  #banner{
    height: 30vh;
  }
  #sm-banner .banner-box{
    min-width: 100%;
    height: 30vh;
    margin-bottom: 20px;
  }

  }

